body{
    background-color:  #a0b1ff;
    color: WHITE;
    font-family: 'Poppins', sans-serif;
}

#Draggable1{
}
#Draggable2{
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}
#Draggable3{
    -webkit-transform: none;
    -moz-transform: none;
    position: relative;
    top: -5px;
}
#Draggable4{
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

.drag {
    height: 250px;
    width: 175px;
    oveflow: hidden;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    font-family: 'Caveat', 'Poppins';
    font-size: 18px;
}

.drag img {
    height: auto;
    width:175px;

}

.caption {
    color: black;
    width: 100%;
    text-align: center;
}

.polaroid{
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 0.25em 1em rgba(0,0,0,0.2);
}

div.container {
  text-align: center;
  width: 100%;
}

.polaroid{
    width: 100%;
    height: auto;

}
